name: CI
on:
  push:
    branches:
      - master
    tags: '*'
  pull_request:
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        version:
          - '1.0'
          - '1.3'
          - 'nightly'
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
        arch:
          - x64
        include:
          # Add some extra configurations to build matrix. See
          # https://github.com/marketplace/actions/setup-julia-environment
          # x86 testing
          #- {os: 'ubuntu-latest',  arch: 'x86', version: '1.0'     }
          #- {os: 'ubuntu-latest',  arch: 'x86', version: '1.3'     }
          - {os: 'ubuntu-latest',  arch: 'x86', version: 'nightly' }
          - {os: 'windows-latest', arch: 'x86', version: '1.0'     }
          - {os: 'windows-latest', arch: 'x86', version: '1.3'     }
          - {os: 'windows-latest', arch: 'x86', version: 'nightly' }
          # additional version tests
          - {os: 'ubuntu-latest',  arch: 'x64', version: '1.1'     }
          - {os: 'ubuntu-latest',  arch: 'x64', version: '1.2'     }
    steps:
      - uses: actions/checkout@v1
      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest
      - uses: julia-actions/julia-uploadcodecov@latest
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  docs:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: julia-actions/setup-julia@latest
        with:
          version: '1.3'
      - run: julia --project=docs -e '
          using Pkg;
          Pkg.develop(PackageSpec(; path=pwd()));
          Pkg.instantiate();'
      - run: julia --project=docs docs/make.jl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Needed due to https://github.com/JuliaDocs/Documenter.jl/issues/1177
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
