name: CI
on:
  push:
    branches:
      - master
    tags: '*'
  pull_request:
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ matrix.group }}
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.version == 'nightly' }}
    strategy:
      matrix:
        version:
          - '1.6'
          - '1'
          - 'nightly'
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
        arch:
          - x64
        include:
          - arch: x86
            version: '1.6'
            os: ubuntu-latest
            group: 'group-A'
          - arch: x86
            version: '1'
            os: ubuntu-latest
            group: 'group-A'
          - arch: x86
            version: 'nightly'
            os: ubuntu-latest
            group: 'group-A'
          - arch: x86
            version: '1.6'
            os: windows-latest
            group: 'group-A'
          - arch: x86
            version: '1'
            os: windows-latest
            group: 'group-A'
          - arch: x86
            version: 'nightly'
            os: windows-latest
            group: 'group-A'
          - arch: x86
            version: '1.6'
            os: ubuntu-latest
            group: 'group-B'
          - arch: x86
            version: '1'
            os: ubuntu-latest
            group: 'group-B'
          - arch: x86
            version: 'nightly'
            os: ubuntu-latest
            group: 'group-B'
          - arch: x86
            version: '1.6'
            os: windows-latest
            group: 'group-B'
          - arch: x86
            version: '1'
            os: windows-latest
            group: 'group-B'
          - arch: x86
            version: 'nightly'
            os: windows-latest
            group: 'group-B'
        exclude:
          # Remove some configurations from the build matrix to reduce CI time.
          # See https://github.com/marketplace/actions/setup-julia-environment
          # MacOS not available on x86
          - {os: 'macOS-latest', arch: 'x86'}
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest
        env:
          STATICARRAYS_TEST_GROUP: ${{ matrix.group }}
      - uses: julia-actions/julia-uploadcodecov@latest
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  docs:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@latest
        with:
          version: '1.6'
      - run: julia --project=docs -e '
          using Pkg;
          Pkg.develop(PackageSpec(; path=pwd()));
          Pkg.instantiate();'
      - run: julia --project=docs docs/make.jl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Needed due to https://github.com/JuliaDocs/Documenter.jl/issues/1177
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
